header {
        background-color:maroon;
        padding: 5px;
        color: #fff;
      }

  

.container {
  position:relative;
  margin: 20px;
  width: auto;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
	
		.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 10px;
     
}

body {background-color: lightgray}
	
		.containerr {
  position:absolute;
  width: 100%;
  max-width: 400px; align-content: center; display: flex
}

.div {margin: 0px;
		width: 100%;
		align-content: center;display: flex}
	
	
		body {background-color: lightgray} 
	
